<h2>More information about {{model.name}}</h2>
{{update-item item=model update='update'}}
{{item-detail item=model delete='delete'}}

{{#each (sort model.comments) as |comment|}}
  {{comment-tile comment=comment}} {{rating-display comment}}
{{/each}}

{{new-comment addComment="addComment" item=model}}
